<div *ngIf="gameOver">
  <div class="absolute top-0 left-0 right-0 bottom-0 bg-gray-800 opacity-50 z-50"></div>
  <div class="center-div px-20 py-12 bg-white z-50 rounded" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;">
    <div class="flex justify-center">
      <img src="./assets/image/animated-thank-you-image-0104.gif" alt="">
    </div>
    <div class="w-full text-center">
      <span class="font-serif font-bold text-xl">Total Score : {{currentScore}}</span>
    </div>
    <div  class="w-full text-center mt-7">
        <span (click)="restart()" class="px-10 py-2 text-white cursor-pointer rounded-sm hover:opacity-90 border-red-600  hover:border-b-2  " style="background-color: rgb(221, 130, 10);box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">Restart</span>
    </div>
  </div>
</div>

<div class="w-screen h-screen overflow-hidden" *ngIf="isView">
  <div class="w-full h-full bg-blue-200 flex justify-center items-center">
    <div class=" flex-col justify-between items-center">
      <div>
        <div class="text-center border-b border-red-600 p-3">
          <span class="font-mono font-bold text-3xl">Angular : 2048 Game</span>
        </div>
        <div class="flex justify-between items-center py-4 px-10">
          <div>
            <span class="text-green-900 font-bold ">Score :</span>
            <span class="mx-2 text-xl font-semibold">{{currentScore}}</span>
          </div>
          <div class="">
            <select [value]="numberOfColumns" (change)="selectNumberOfColumn($event)" class="text-sm px-3 py-2 rounded border border-green-600 hover:border-green-900 outline-none focus:outline-none">
              <option value="">Select colums</option>
             <ng-container *ngFor="let item of [3,4,5,6,7,8]">
              <option [value]="item">{{item}}</option>
             </ng-container>
            </select>
          </div>
          <div>
            <span class="text-red-700 font-bold " *ngIf="gameOver">Game Over 🎉</span>
          </div>
        </div>
      </div>
      <div class="px-10 py-5 flex justify-center">
        <div class="rounded-md bg-red-100" style="min-width: 25vw;min-height: 25vw; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
          <div class="w-full h-full grid" [ngClass]="{'grid-cols-3': numberOfColumns==3,
                                                      'grid-cols-4': numberOfColumns==4,
                                                      'grid-cols-5': numberOfColumns==5,
                                                      'grid-cols-6': numberOfColumns==6,
                                                      'grid-cols-7': numberOfColumns==7,
                                                      'grid-cols-8': numberOfColumns==8}" >
            <ng-container *ngFor="let row of matrix">
              <ng-container *ngFor="let column of row">
                <div class="w-full h-full border border-red-300 flex justify-center items-center">
                  <div [ngClass]="{ 'bg-red-100 ':column===0 , 'bg-blue-100 active':column!==0}" class=" w-20 h-20  rounded-md text-center " >
                    <div class="  text-3xl font-mono font-bold mt-5">{{column===0 ?' ':column}}</div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="w-full h-full">
        <div class="flex justify-center items-center gap-5">
          <div>
            <div (click)="clickEvent('left')" class="p-5 bg-gray-100 rounded-md cursor-pointer hover:bg-gray-200" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
              <span class="text-2xl font-bold"> < </span>
            </div>
          </div>
          <div class="flex-col justify-center items-center text-center">
            <div (click)="clickEvent('up')" class="-rotate-90 p-5 bg-gray-100 rounded-md cursor-pointer hover:bg-gray-200"  style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
              <span class="text-2xl font-bold "> > </span>
            </div>
            <div (click)="clickEvent('down')" class="-rotate-90 p-5 bg-gray-100 rounded-md cursor-pointer hover:bg-gray-200"  style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
              <span class="text-2xl font-bold"> < </span>
            </div>
          </div>
          <div>
            <div (click)="clickEvent('right')" class="p-5 bg-gray-100 rounded-md cursor-pointer hover:bg-gray-200"  style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
              <span class="text-2xl font-bold"> > </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>